.course-overview-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.course-overview-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.course-overview-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.course-overview-logo {
  font-size: 2em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.course-overview-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.course-overview-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.course-overview-nav1 {
  transition: 0.3s;
  text-decoration: none;
}
.course-overview-nav1:hover {
  color: #3d6e70ff;
}
.course-overview-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.course-overview-nav2:hover {
  color: #3d6e70ff;
}
.course-overview-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.course-overview-nav3:hover {
  color: #3d6e70ff;
}
.course-overview-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.course-overview-nav4:hover {
  color: #3d6e70ff;
}
.course-overview-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.course-overview-nav5:hover {
  color: #3d6e70ff;
}
.course-overview-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.course-overview-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
}
.course-overview-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.course-overview-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.course-overview-burger-menu {
  display: none;
}
.course-overview-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.course-overview-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.course-overview-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.course-overview-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.course-overview-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.course-overview-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-overview-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.course-overview-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.course-overview-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.course-overview-nav21 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.course-overview-nav31 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.course-overview-nav41 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.course-overview-nav51 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.course-overview-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.course-overview-login1 {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.course-overview-register1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.course-overview-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.course-overview-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.course-overview-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.course-overview-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .course-overview-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .course-overview-desktop-menu {
    display: none;
  }
  .course-overview-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .course-overview-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-overview-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-overview-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-overview-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-overview-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-overview-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .course-overview-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .course-overview-logo {
    font-size: 1.5em;
  }
  .course-overview-mobile-menu {
    padding: 16px;
  }
  .course-overview-logo1 {
    font-size: 1.5em;
  }
  .course-overview-icon02 {
    fill: var(--dl-color-gray-900);
  }
}
